.welcome-container .container{display:grid;
grid-template-columns: 1fr minmax(0, 2fr);}
.welcome-container .img-prev{width: 100%;}
.welcome-container{background-color: #2c2c32;
padding-block:30px;}
.welcome-container h5 span{ font-weight: normal;font-size: 20px;}
.welcome-container h5{color: white;
text-align: center;
margin:0%;}
.welcome-container .container div:first-child{text-align: center;}
.welcome-container p {color: rgba(255,255,255,.6);
margin: 0%;}
.welcome-container .download-container {background-color: dodgerblue;
color: white;
display: grid;
grid-template-columns: 5fr 1fr;
height:58px;}
.welcome-container .download-container h6{margin:0%;}
.welcome-container .download-container > div:first-child{ 
align-items:center;
display:flex;
justify-content:center;
border-right:2px solid #2c2c32;}
.welcome-container .download-container > div:last-child{ 
    align-items: center;
    display: flex;
    justify-content: center;}
    .tooltip-container{font-size: 14px;
    padding-block: 7px;
border-radius: 10px;
background-color: rgb(37, 37, 43);
margin: 15px;
position: relative;}
    .tooltip-container a{color: dodgerblue;
    text-decoration: none;}
    .tooltip-container p{margin: 0%;}
    .tooltip-container::after{content: '';
    background-color:rgb(37, 37, 43) ;
width: 15px;
height: 15px;
transform: rotate(45deg);
position: relative;
right: 15px;
top: -7px;}
.rules-container{font-size: 12px;}
.rules-container a{ color: dodgerblue;}
.rules-container p{margin: 0%;}
.features-container .container {display: grid;
grid-template-columns: repeat(4, 1fr);}
.features-container i{font-size: 65px;
margin-bottom: 15px;}
.features-container{text-align: center;}
.features-container .container > div{padding-block: 30px;}
.features-container .container > div:first-child:hover i {color: firebrick;}
.features-container .container > div:nth-child(2):hover i{color: green;}
.features-container .container > div:nth-child(3):hover i{color: dodgerblue;}
.features-container .container > div:last-child:hover i{color: yellow;}
section{padding-block:60px;}
section:nth-child(odd){background-color: rgb(245, 245, 245);}
.testimonial-section > div {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
   grid-column-gap:15px;
   position: relative;
}
.testimonial-section .container{width: 750px;}
.testimonial-section > div .arrow {position:absolute;
font-size: 40px;
top: 80px;
cursor: pointer;}
.testimonial-section > div .arrow.fa-arrow-right {right:-50px;}
.testimonial-section > div .arrow.fa-arrow-left{ left:-50px;}
.info-section img{width:100%;
display: block;}
.info-section > div{ display:flex;
align-items: center;
gap: 30px;}
.info-section > div div:first-child{width:45%;}
.info-section .container p{margin: 0%;}
.info-section:nth-child(odd) > div div:first-child{order:2;}
.info-section:nth-child(odd) > div div:last-child{ order:1;}
.external-langs h3{text-align:center;}
.external-langs .d-grid{display: grid;
grid-template-columns:repeat(6, minmax(0, 1fr));
gap:15px;}
.external-langs .external-link {display:block;
color: dodgerblue;
text-decoration: none;
text-align: center;
margin-top:30px;
margin-bottom: 60px;}
.external-langs .btn{display: flex;
background-color: dodgerblue;
text-decoration: none;
text-align: center;
width:200px;
height:50px;
align-items: center;
justify-content: center;
margin: auto;}
.os-version > div{
display: grid;
grid-template-columns: repeat(3, minmax(0, 1fr));
gap: 0 25px;}
.os-version .main-img{width: 100px; 
display: block;
margin-inline: auto;
margin-bottom: 30px;}
.os-version .btn{
background-color:dodgerblue;
color: white;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10px 15px;
margin-bottom: 30px;}
.os-version table {width: 100%;
border-collapse:collapse;}
.os-version table a {display: flex;
align-items: center;
justify-content: center;
color:white;
background-color: dodgerblue;
text-decoration: none;
font-size: 12px;
border-radius: 3px;
}
.os-version table td {font-size: 14px;}
.os-version table td:first-child{text-align: center;}
.os-version .btn-container{display: grid;
grid-template-columns: repeat(2, minmax(0, 1fr));
gap: 0 5px;}