@import './header.css';
@import './flexbox.css';
@import './global.css';
@import './notification.css';
@import './main.css';
h1, h2 {font-family: 'Lobster', cursive;
cursor: pointer;}
 h3 {font-family: 'BPG Glaho Bold',serif;
font-style: italic;
font-weight: 700;
text-decoration: underline;
line-height:20px;
cursor: pointer;}
a{cursor: pointer;}
